.pre-wrap {
    white-space: pre-wrap;
}

.hidden {
    display: none;
}

.is-invalid {
    border-color: red;
}

.mb-5 {
    margin-bottom: 3rem;
}

.log-entry {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.api-name {
    font-weight: bold;
}

.image-tag {
    color: #007bff;
}

.date {
    color: gray;
}

#view-log-button {
    margin-bottom: 3rem;
}

.blink {
    animation: blinkEffect 0.3s ease-in-out;
}

@keyframes blinkEffect {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

.nav-link.active {
    font-weight: bold;
    color: #0056b3;
    /* Azul escuro para indicar seleção */
    text-decoration: underline;
}